body {
    background-color: green;
}
ul {
    font-size: 22px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
